name: ML Pipeline CI

on:
  push:
    branches:
      - main

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.10

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Data Pipeline
        run: |
          python src/data_ingestion.py
          python src/data_cleaning.py
          python src/feature_engineering.py

      - name: Train Model
        run: |
          python src/train.py
